.badge-notify {
  background-color: orange;
  position: relative;
  top: -10px;
  left: -15px; }

.equal, .equal > div[class*='col-'] {
  display: flex; }

.full-width {
  width: 100%; }

.color-green {
  color: green; }
