/* default */
body {
	background-color:#FAFAFA;
	margin-top: 100px;
	font-family: 'Muli', sans-serif;
}
#body-login {
	margin-top: 0px;
}
body a,a:hover {
	color: black;
}
footer {
	color:white;
	background-color:#3d4b56;
	padding: 50px;
	font-family: 'Muli', sans-serif;
}
footer .btn {
	border-radius: 8px;
}
footer p, a {
	color: #afafaf;
}

.navbar {
	background-color:white;
	padding: 25px 0px;
}

.btn {
	border-radius: 24px;
}
.btn-sqr {
	border-radius: 4px;
}
.outline {
	background: none;
	color: grey;
}
.outline-white {
	background: none;
	border: 1px solid white;
	color: white;
}
.btn-grey {
	color: white;
	background-color: grey;
	border: 1px solid grey;
}
.btn-white {
	color: #3d4b56;
  background-color: #fff;
  border-color: #ccc;
}
.btn-round {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 24px;
}
.round {

}

.form-control {
	border-radius: 10px;
}

.carousel-caption {
	color: #333;
	text-shadow: none;
}
.carousel-caption p {
	color: #888;
}
.carousel-indicators .active {
    background-color: #46b8da;
		border-color:#46b8da;
}
.carousel-indicators li {
	border-color:lightgray;
	background-color:lightgray;
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
}

.foot-link {
	color:#afafaf;
}
.foot-link:visited {
    color: #afafaf;
}
.foot-link:link {
    color: #afafaf;
}
.foot-link:hover {
    color: white;
}
.foot-link:active {
    color: #afafaf;
}

.social {
	background: none;
	border: none;
	color: #3d4b56;
}
/* end of default */


/* INDEX */
#logo {
	margin-top:-13px;
	width:170px;
}
#input-search {
	width:500px;
	margin-left: 70px;
}
#caption {
	margin:0 30% 20%;
}
#btn-caritau {
	position: absolute;
	top: 370px;
	left: 50%;"
}
.btn-caritau {
	position: relative;
    left: -50%;
}

#sejarah {
	background: url(../img/picture1.jpg);
	background-size: cover;
	height: 400px;
	border: solid 10px #FAFAFA;
}
#sejarah2 {
	margin: 10% 20%;
	color: white;
	text-align: center;
}
#komik {
	background: url(../img/picture2.jpg);
	background-size: cover;
	height: 200px;
	border: solid 10px #FAFAFA;
}
#komik2 {
	margin: 5% 5%;
	color: white;
	text-align: center;
}
#karya {
	background: url(../img/picture3.jpg);
	background-size: cover;
	height: 200px;
	width: 50%;
	border: solid 10px #FAFAFA;
}
#karya2 {
	margin: 5% 5%;
	color: white;
	text-align: center;
}
#pengalaman {
	background: url(../img/picture4.jpg);
	background-size: cover;
	height: 200px;
	width: 100%;
	border: solid 10px #FAFAFA;
}
#pengalaman2 {
	margin: 3% 5%;
	color: white;
	text-align: center;
}

#hearts {
	color: #46b8da;
}
#hearts-existing {
	color: #46b8da;
}
#judul {
	color: grey;
}
#harga {
	color: #46b8da;
}
#loops {
	background: url(../img/bg-loop.jpg);
	background-size:cover;
	height:550px;
}
#loops-logo {
	margin-top:50px;
	height:50px;
	float:right;
}
#loops-text {
	text-align:right;
	color:white;
	margin: 50px auto;
}
#bonus {
	font-size: 60pt;
	margin-left: 20px;
	text-align: center;
	margin-top: -10px;
}
#manfaat {
	background-color: #9357AD;
	border-right: solid 10px white;
}
#manfaat2 {
	margin-bottom: 15px;
	color: white;
}
#pesan {
	background-color: #00ADEF;
	border-left: solid 10px white;
}
#pesan2 {
	margin-bottom: 15px;
	color: white;
	text-align: center;
}

#contact {
	padding:50px 0;
}
#subscribe {
	border-radius:24px 0 0 24px;
}
#promo {
	background-color:white; padding:20px 0;
}
/* END OF INDEX */

/* LOGIN */
#bg-login {
	background: url(../img/login-01.jpg);
	background-size: cover;
	height:700px;
	color:#FFF;
	padding: 20px;
}
#login-potensi{
	margin-top: 350px;
	text-align: center;
}
#panel {
	padding: 50px 150px;
	background-color: white;
	height:700px;
}
#product-features {
	margin-top: 70px;
	text-align: center;
	overflow:auto;
}
#product-features img {
	width: 200px;
	display:inline;
}
/* END OF LOGIN */

/* SIGNUP */
.testi {
	padding: 0;
}
.testi-bg {
	background-color:#1A1D24; height:700px;
}
.testi-text {
	color: white;
	text-align: right;
}
.term {
	font-size:8pt;
	text-align: center;
}
/* END OF SIGNUP */

/* Shop */
#nav-tengah {
	padding: 20px 30px;
}
#body-shop {
	background-color:white;
	padding:20px 0;
}
#body-slider{
	padding:20px 20px;
}

#filter:link {
	background-color: #FAFAFA;
	color: black;
	border: solid 1px lightgrey;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#filter:visited {
	background-color: #46b8da;
	color: white;
}
#filter:hover, #filter:active {
		background-color: lightgrey;
}

.items{
	overflow-y: scroll;
	overflow-x: hidden;
	max-height:700px;
}
.items ul{
	padding: 0px;
}
.items ul li{
	list-style: none;
	padding: 15px;
	height: auto;
}
#berita {
	overflow: auto;
	padding-top:10px;
	padding-bottom:40px;
}
#berita img {
	display: inline;
	height: 200px;
}
/* End of Shop */

/* Success */
.bg-white {
	background-color:white;
}
#panel-success {
	min-height: 700px;
}
#panel-success img {
	margin:60px auto;
}
/* End of Success */

/* DETAIL */
.text-grey {
	color: grey;
}
#table {
	width: 100%;
}
#btn-beli {
	width: 150px;
}
.btn-lg-round {
	width: 50px;
	height: 50px;
}
.btn-sm-round {
	height:40px;
	width:40px;
	color:#5BC0DE;
}
.input-round {
	border-radius: 24px;
}
#ico-search {
	margin-right:20px;
	color:lightgrey;
}
#jml-buku {
	width:70px;
	height:45px;
	border-radius: 24px;
}
#detail {
	background-color: white;
}
#list-pic {
	text-align: center;
	overflow:auto;
}
#list-pic img {
	width: 120px;
	display:inline;
}
.tab-content {
	border: solid 1px lightgrey;
	border-top: 0;
	padding: 10px;
}
.img-circle {
    border-radius: 50%;
}
#profile-pic {
	width:70px;
	margin-top:5px; margin-left:-20px;
}
/*END OF DETAIL */

/* DASHBOARD */
.nav-left {
	padding:0 0;
	background-color:#1A1D24;
	min-height: 720px;
}
.nav-left a {
	color: white;
	font-size: 12px;
}
.nav-left span {
	color: #EA4055;
}
.nav-left a:hover {
  color: red;
	border-radius: 0px;

}
.nav-left li {
	padding: 10px 0;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: DeepPink;
    background-color: MistyRose;
		border-radius: 0px;
}
#navbar-profile a:hover {
	background-color:white;
}
#navbar-profile a:active {
	background-color:white;
}
#navbar-profile-pic {
	position:relative;
	padding-left:50px;
}
#navbar-profile-pic2 {
	width:32px;
	height:32px;
	position:absolute;
	top:10px;
	left:10px;
}
#black-friday {
	background-color:#6440EA;
	padding:10px;
	padding-left: 20px;
}
#black-friday a {
	color: white;
}
#pengetahuan {
	background: url(../img/bg-dashboard-01.jpg);
	background-size: cover;
	height: 250px;
	border-right: solid 10px #FFF;
}
#pengetahuan2 {
	font-size: 14pt;
	padding: 20% 5%;
	text-align: center;
}
#upload {
	background: url(../img/bg-dashboard-02.jpg);
	background-size: cover;
	height: 250px;
	border-left: solid 10px #FFF;
	border-right: solid 10px #FFF;
}
#upload2 {
	font-size: 14pt;
	padding: 30% 5%;
	text-align: center;
	color: white;
}
#upload2 a{
	font-size: 14px;
	color: white;
}
#jam {
	background-color: #e91e63;
	text-align: center;
	color: white;
	min-height: 124.5px;
	border: solid 10px #FFF;
	border-top: 0;
	padding-top: 15px;
}
#orderan {
	background-color:#43a047;
	text-align: center;
	color: white;
	min-height: 124.5px;
	border: solid 10px #FFF;
	border-bottom: 0;
	padding-top: 15px;
}
#orderan a {
	color: white;
}
#pengunjung {
	background: url(../img/bg-dashboard-03.jpg);
	background-size: cover;
	height: 250px;
	border-left: solid 10px #FFF;
}
#pengunjung2 {
	color: white;
	font-size: 10pt;
	padding: 12% 5%;
	text-align: center;
}
#pengunjung2 p {
	margin-bottom: -10px;
}

#wallet {
	overflow:auto;
}
#wallet img {
	width: 250px;
	display:inline;
}
#wallet h4 {
	display:inline;
}
#wallet button {
	margin-left: 10px;
	display:inline;
}
.
/* END OF DASHBOARD */

/* PROFILE */
#panel-profile-edit {
	padding: 50px 150px;
	background-color: white;
	height:700px;
}
#panel-profile-edits {
	padding: 50px 150px;
	background-color: white;
	height:700px;
}
#panel-profile-edits p {
	font-size: 10px;
}
#note-password {
	margin-top: 70px;
}
.input-group-addon {
	border-radius: 25%;
}
/* END OF PROFILE */

/* TOKO BUKU */
#toko-buku {
	margin-top: 10px;
}
.btn-purple {
	color: white;
  background-color: #B453F9;
  border-color: #B453F9;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active {
  background-color: #a93af8;
  border-color: #9f22f7;
	color: white;
}
.btn-purple.disabled:hover,
.btn-purple.disabled:focus,
.btn-purple.disabled:active,
.btn-purple.disabled.active,
.btn-purple[disabled]:hover,
.btn-purple[disabled]:focus,
.btn-purple[disabled]:active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple:hover,
fieldset[disabled] .btn-purple:focus,
fieldset[disabled] .btn-purple:active,
fieldset[disabled] .btn-purple.active {
  background-color: #B453F9;
  border-color: #B453F9;
	color: white;
}
#tab-toko {
	border: 0px;
}
.nav-toko {
	padding: 0px;
	border-right: 0px;
	border-left: 0px;
	border-radius: 0px;
}
#input-line {
	padding: 5px;
	width: 185px;
	border-radius: 0px;
	border:none;
	border-bottom: solid 1px lightgrey;
}
#input-line:focus {
	outline: none;
}
#input-lines {
	padding: 5px;
	border-radius: 0px;
	border:none;
	border-bottom: solid 1px lightgrey;
}
#input-lines:focus {
	outline: none;
}

.addon-search {
	color: lightgrey;
	background: none;
	border: none;
}
.btn-length {
	width: 200px;
}
.btn-length-sm {
	width: 80px;
}
.table > tbody > tr > td {
     vertical-align: middle;
}
#modal-hapus {
	margin-top: 150px;
}
.btn-none {
	background-color: none;
	border: none;
}
/* END OF TOKO BUKU */

/* LANDING */
.navbar-landing {
	background-color:white;
	padding: 0px 0px;
}
.img-landing {
	padding: 5px 10px;
}
.btn-buat {
	background-color: #f44336;
}

.navbar-default .navbar-nav>li>a.btn-buat {
	color: white;
}
.navbar-default .navbar-nav>li>a.btn-buat:hover {
	background-color: #d32f2f;
}
.bg-top {
	margin-top: -50px;
	background: url(../img/bg-landing-top.jpg);
	background-size:cover;
	height:450px;
	/*margin-bottom: 900px;*/
}
.bg-mid {
	height: 35em;
}
.bg-bot {
	padding-top: 200px;
	background: url(../img/bg-landing-mid.jpg);
	background-size:cover;
	height: 40em;
	/*height:600px;*/
}
.bg-mobile-xs {
	height: 1600px;
}
.bg-mobile-sm {
	height: 800px;
}
.bg-orange {
	background-color: #fa902e;
	height: 37em;
	color: white;
	padding-top: 100px;
}
.bg-red {
	background-color: #df5242;
	height: 500px;
	color: white;
	padding-top: 100px;
}
.bg-white {
	background-color: #fff;
	height: 550px;
	padding-top: 100px;
}
.bg-blue {
	background-color: #604ef6;
	height: 500px;
	color: white;
	padding-top: 100px;
}
.logo-sm {
	margin-top:50px;
}
.macbook-pro {
	position: absolute;
	right: 0px;
	/*margin-top:-300px;*/
}
.macbook {
	position: absolute;
	left: 0px;
	/*margin-top:-250px;*/
}
.no-padding {
	padding: 0px;
}
.mobile {
	position: absolute;
	right: 2rem;
	top: -50px;
}
.mobile2 {
	position: absolute;
	right: 30%;
	top: -50px;
}
.text-web {
	margin-top: 20px;
	text-align: left;
}
.right {
	position: absolute;
	right: 0px;
}
#web {
	color:white;
	margin-top: 20px;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .3);
}
.center-vertical {
	position:relative;
	top:-50%;
	transform:translateY(50%);
}

/* LANDING */

/* HISTORY */
#modal-detail td {
	border: none;
}
/* END OF HISTORY */
