<!-- contact -->
<div class="container" id="contact">
	<div class="row">
  <div class="col-lg-6">
  <div class="col-lg-5">
    <h5><strong>SIGN UP NEWS LETTER</strong></h5>
  </div>
  <div class="col-lg-7">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter your email address" id="subscribe">
      <span class="input-group-btn">
        <button class="btn btn-info" type="button">Subscribe</button>
      </span>
    </div>
  </div>
</div>
<div class="col-lg-6">
  <div class="col-lg-4">
    <center><h5><strong>FOLLOW US</strong></h5></center>
  </div>
  <div class="col-lg-8" >
		<button class="btn btn-info social" type="button">
			<i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
		</button>
		<button class="btn btn-info social" type="button">
			<i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
		</button>
		<button class="btn btn-info social" type="button">
			<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
		</button>
		<button class="btn btn-info social" type="button">
			<i class="fa fa-pinterest fa-2x" aria-hidden="true"></i>
		</button>
		<button class="btn btn-info social" type="button">
			<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
		</button>
		<button class="btn btn-info social" type="button">
			<i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
		</button>
  </div>
</div>
</div>
</div>
<!-- End of contact -->
