<div class="jumbotron" id="bg-map">
  <!-- <img src="img/bg-map.png" alt="Map" id="bg-map"> -->
  <h1>Cari tahu banyak hal biar gak kesasar.</h1>
  <p>#JadiGerakan</p>
  <form class="" action="" method="post">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Bantuan apa yang kamu cari">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
      </span>
    </div>
    <hr>
  </form>
</div>

<nav class="navbar navbar-default navbar-inverse " id="nav-top">
  <div class="container">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Skeb Book <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="tentang.html">Tentang Skeb book</a></li>
            <li><a href="help-hubungi.html">Hubungi kami</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Penjual <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Informasi umum</a></li>
            <li><a href="#">Penggunaan</a></li>
            <li><a href="#">Jual barang</a></li>
            <li><a href="#">Transaksi & Pencairan Deposit</a></li>
            <li><a href="#">Sanksi & Hukum</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pembeli <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Penulis <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
          </ul>
        </li>
        <li><a href="help-karir.html">Karir di Skeb Book</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
