<!-- Navbar -->
<div class="collapse navbar-collapse" id="nav-help">
	<nav class="navbar  transparant">
	  <div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="index.html">
	        <img id="logo" alt="Logo Skeb Book" src="img/logo.png">
	      </a>
	    </div>

			<form class="navbar-form navbar-right">
				<a href="login.html" class="btn">Masuk</a>|
				<a href="signup.html" class="btn">Daftar</a>
			</form>
	  </div>
	</nav>
</div>
<!-- End of Navbar -->
