<!-- Navbar -->
<div class="collapse navbar-collapse">
	<nav class="navbar navbar-light navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="index.html">
	        <img id="logo" alt="Logo Skeb Book" src="img/logo.png">
	      </a>
	    </div>
			<form class="navbar-form navbar-left" role="search">
		  	<div class="form-group">
					<input id="input-search" type="text" class="form-control input-round" placeholder="Cari Judul atau Toko Buku">
		  	</div>
			</form>
			<form class="navbar-form navbar-right">
				<a href="login.html" class="btn btn-danger outline">Login</a>
				<a href="signup.html" class="btn btn-danger btn-grey ">Buka toko Gratis</a>
				<a href="cart.html" class="btn btn-danger"><span class="fa fa-shopping-basket"></span></a>
				<span class="badge badge-notify">7</span>
			</form>
	  </div>
	</nav>
</div>
<!-- End of Navbar -->
